.td-side-menu{
    position: absolute;
    background: #123346;
    width: 250px;
    height: 94%;
    top: 50px;
    right: 5px;
    color: #fff;

}
.td-side-menu ul,.td-abstract ul{
    list-style: none;
    padding: 0px;
}
.td-side-menu ul li, .td-abstract ul li{
    padding: 10px 10px;
    cursor: pointer;
    text-align: right;
}
.td-side-menu ul li:hover,.filter-cont ul li:hover{
    background: #1a5c82;
}
.td-abstract{
    background: #041a28;
    width: 300px;
    height: 94%;
    left: 0px;
    top: 50px;
    position: absolute;
    padding: 20px;
    display: none;
}
.abstract-title{
    color: #0ebeff;
}
.abstract-value{
    color: #fff;
}
.abstract-value.sysId{
    color: #c29a00;
}
.td-abstract p{
    text-align: right;
    color:#ccc;
    font-size: 16px;
}
.abstract-image{
    width: 150px;
    height: 150px;
}
.td-abstract .fa-close{
    color: #fff;
}
.td-link-area {
    background: #041a28;
    bottom: 0px;
    width:100%;
    left: 0px;
    height: 340px;
    position: absolute;
    padding: 20px;
    color: #fff;
    display: none;
}
.td-link-area table{
    border: 1px solid #fff;
    color: #fff;
}
.td-link-area p{
    font-size: 20px;
    font-weight: bold;
}
.abstract-list{
    margin-top:20px;
}
.cross-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    cursor: pointer;
}
.td-header{
    width: 100%;
    height: 50px;
    background: #000;
    padding: 0px;
}
.td-header-filter,.td-header-menu{
    background: #123346;
    height: 50px;
    padding: 0px;
}
.td-header-search{
    width: 400px;
    padding: 10px 0px;
}
.td-header-filter{
    width: 200px;
    padding: 15px 0px;
}
.td-header-menu {
    width: 50px;
    padding: 10px;
}
.td-search{
    width:30px;
    height: 30px;
    background: #123346;
    position: absolute;
}
.side-menu-icon{
    margin:5px;
}
.td-header-multiselect{
    padding: 15px 10px;
    height: 50px;
}
.filter-arrow{
    width:13px;
}
.filter-cont{
    position: absolute;
    width: 200px;
    height: 135px;
    background: #123346;
    color: #fff;
    top:50px;
    left:0px;
    z-index: 11;
}
.filter-cont ul{
    list-style: none;
    padding: 0px;
}
.filter-cont ul li {
    text-align: right;
    padding: 10px;
}
.loading-area {
    color: #000;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}